
.checklist li {
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: left center;
    margin: 5px 0;
}

.checklist li.checked {
    background-image: url('../images/checked.png');
    background-size: 16px 16px;
}

.checklist li:not(.checked) {
    background-image: url('../images/unchecked.png');
    background-size: 16px 16px;
}
