body {
    width: 95%;
    margin:auto ;
    font-family: Arial, sans-serif;
}



section > header > h1 {
    background-image: url("header.jpg");
    margin: auto;
    color:white;
    background-size: cover;
    height: 100px;
    padding-left: 5px;
    padding-top: 5px;



}

nav  {
    color: black;
    background-color: dimgrey;

      }
nav > a
      {
    color: lawngreen;
    text-decoration-line: none;
    font-weight: bold;
      }
article {
    background-color: lightgray;


}
article > header > h1 {
    font-size: x-large;
    text-decoration-line: underline;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 5px;

}

footer > a {
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;

}

article > p {
    padding-left:  10px;
}

footer {
    padding-top: 20px;
}

